<footer class="footer">
  <small>
    Copyright 2013. All rights reserved.  
  </small>
  <nav class = "pull-right">
    <ul>
      <li><%= link_to "Home |",    root_path %></li>
      <li><%= link_to "Privacy |", '#'%></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>