<h1>My Total Hours</h1>

<!--Table to show hours-->
	<section>
		<table class = "table table-striped">
  			<tr>
			    <th>Title</th>
			    <th>Hours Required</th>
			    <th>Hours Completed</th>
  			</tr>
  			<% @credentials.each do |credential| %>
  			<tr>

			    <td><p><%= credential.title %></p></td>
			    <td><p><%= credential.hoursrequired %></p></td>
			<% end %>
				<td>
					<% @courses.sum do |course| %>
					<p><%= course.credits %></p>
					<% end %>
				</td>
  			</tr>
  			
		</table>
	</section>


<%= link_to "Home", root_path %> 


			  