<% provide(:title, 'Your Place for Organizing and Managing Professional Credentials') %>


<div class = "span9">

	<h3 class ="lead">Your secure location for managing licenses, certificates, and continuing education credits.</h3>

	<img src="mock.jpg">

</div>

<div class = "span3">
	
		<h2>Sign in</h2>



	


</div>
