<h2>Our Story</h2>

<p>Tired of losing of track of all of their continuing education credits and professional licenses a few engineers banded together to build Credential Cabinet.</p>

<p>Credential Cabinet is based in New York City.</p>

<p>You can reach us at contact@credentialcabinet.com</p>

</br>
</br>
</br>