<% provide(:title, 'About') %>

<h2>At WaterStatus we're connecting water customers and water utilities.</h2>

<p>WaterStatus was founded in 2013 to provide a platform for communication and collaboration among water customers and water utilities. Tell us your suggestions for features you would like to see on the site.</p>

<h1>Frequently Asked Questions</h1>

<h3>Is WaterStatus free?</h3>
<p>Yes. Joining WaterStatus is free for both water customers and water utilities. For water utilities there are premium features that we charge a subscription fee.</p>

<h3>Why should I join WaterStatus?</h3>
<p>Everyone should join WaterStatus to share their water quality and have a voice about their water. You can find out what others in your service think of their water quality. You can rate water quality in the places your travel, and check on water quality before your travel to new places, or if you're thinking of moving to a new location.</p>

<h3>What can I do on the WaterStatus website?</h3>
<p>At WaterStatus you can learn more about water issues, update your WaterStatus, communicate with your water utility, and find out about water quality and issues in the places you are traveling or thinking of moving to.</p>


<h3>Is WaterStatus available worldwide?</h3>
<p>Yes. We are building a water community from around the world.</p>

<h3>What premium features are available to water utilities?</h3>
<p>Premium features include uploading and editing your consumer confidence report, communicating directly with water customers who are members of WaterStatus, generating specific feedback surveys for your customers, reading WaterStatus survey results.</p>

<h3>How much is the subscription fee for water utilities to access premium features?</h3>
<p>Water utilities is free to join, but to access premium features the subscription fee is $200 per treatment plant per year. This supports the site and 10% of subscription fees will go to water research projects.</p>