<% provide(:title, 'Your Water Community') %>

<h2>WaterStatus is your water community.</h2> 

<p>Share your WaterStatus</p>
<p>Navigate water issues</p>
<p>Connect with your water utility and community</p>