<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    	<p>Hi <%= user.email %>, </p>

		<p>We’re writing to give you a semi-annual update on your credentials. This update is based on information supplied by you.</p>

		<p><%=credential.title%> renews on <%=credential.next_renewal%> </p>

		<p>For the current renewal period, you have the completed the following courses: </p>

		<p>(add course table to email)</p>

		<p>Sincerely, </p>
		<p>The Credential Cabinet Team </p>

  </body>
</html>